.career.outer-wrapper {
    position: relative;
    width: 100vw;
    background-color: white;
    border-top: 1px dotted red;
    
    .career.inner-wrapper {
        width: 95%;
        margin: 0 auto;

    }
}