.footer.outer-wrapper {
    background-color: white;
    border-top: 1px dotted red;
    height: 150px;
    width: 100vw;

    .footer.inner-wrapper {
        width: 95%;
        margin: 0 auto;

        .footer.content {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            height: 150px;

            .footer-title {
                font-size: clamp(8px, 10vw, 32px);
            }

            .footer.content.socials {
                display: flex;
                align-items: center;
                width: clamp(100px, 20%, 300px);

                & > * {
                    width: clamp(30px, 5vw, 50px);
                    height: clamp(30px, 5vw, 50px);
                    aspect-ratio: 1 / 1;
                    padding-left: 12px;
                }
            }
        }
    }
}