@use "../tools/index" as *;

.c-hero {
    &.is-open {
        overflow-y: scroll;
    }
    &.is-closed {
        overflow-y: hidden;
    }

    .o-space {
        position: relative;
        display: flex;
        align-items: center;

        @include define-box-dimension(auto, 90vh);
        
        .o-content-wrapper {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: space-between;
            margin: 0 auto;

            @include define-box-dimension(95%, 70%);
            

            .o-content-left-wrapper {
    
                .o-content-left {
                    max-width: 360px;
                    max-height: 220px;
                    
                    .o-content-left.text {
                        display: flex;
                        flex-direction: column;
    
                        p {
                            line-height: 1.2em;
                            text-align: justify;
                            border-bottom: 1px solid grey;
                            margin-bottom: 6px;

                            @include define-font-size(paragraph, s);
                            @include define-specific-padding(6px, 0px, 18px);
                        }
                        
                        .o-content-left.buttons {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            width: 50%;
                            margin: 0 auto;

                            @include define-simple-padding(12px, 0px);
                        }
                    }
                }
            }

            @media only screen and (min-width: 768px) {
                flex-direction: row;

                @include define-box-dimension(75%, 100%);
            }
        }
        @media only screen and (min-width: 768px) {
            height: 85vh;
        }
    }

    .o-profile-nav-wrapper {
        height: 10vh;
        width: 65%;
        margin: 0 auto;

        @include define-box-dimension(65%, 10vh);


        .o-profile-nav {
            display: flex;
            justify-content: space-between;

            .o-profile-nav-item {
                @include define-font-size(paragraph, xs);
            }
        }

        @media only screen and (max-width: 380px) {
            height: 15vh;
            width: 95%;
        }
    }
}
