@use "../tools/index" as *;

.c-hero {
    &.is-open {
        overflow-y: scroll;
    }
    &.is-closed {
        overflow-y: hidden;
    }

    .o-space {
        position: relative;
        display: flex;
        align-items: center;
        max-width: 1080px;
        margin: 0 auto;

        @include define-box-dimension(100%, 90vh);
        
        .o-content-wrapper {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: space-between;

            // @include define-box-dimension(95%, 70%);
            
            .o-content-left {
                display: flex;
                flex-direction: column;
                max-width: 400px;
                max-height: 260px;

                @include define-specific-padding(6px, 0px, 18px);
                @include define-single-margin(bottom, 6px);

                .o-content-left.buttons {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    width: 50%;
                    margin: 0 auto;

                    @include define-simple-padding(12px, 0px);
                }
            }

            @media only screen and (min-width: 768px) {
                flex-direction: row;

                @include define-box-dimension(75%, 100%);
            }
        }
        @media only screen and (min-width: 768px) {
            height: 85vh;
        }
    }

    .o-profile-nav-wrapper {
        height: 10vh;
        max-width: 920px;
        margin: 0 auto;

        @include define-box-dimension(65%, 10vh);

        .o-profile-nav {
            display: flex;
            justify-content: space-between;

            .o-profile-nav-item {
                @include define-font-size(paragraph, xs);
            }
        }

        @media only screen and (max-width: 380px) {
            height: 15vh;
            width: 95%;
        }
    }
}
