.language-selector.outer-wrapper {
    position: relative;
    // border: 1px solid red;
    
    .language-selector.inner-wrapper {
        .language-selector.button {
            height: clamp(30px, 5vw, 60px);
            width: auto;
            border: none;
            border-radius: 50%;
            background-color: transparent;
            aspect-ratio: 1 / 1;
            cursor: pointer;

            img {
                display: block;
            }
        }
    }
}