@use "../tools/index" as *;

.c-puzzle {
    @include define-clamp-box-aspect-ratio(all, 240px, 35vw, 360px, 1, 1);

    .c-puzzle-grid-wrapper {
        position: relative;
        height: 100%;

        .c-puzzle-grid {
          position: relative;
          display: grid;
          height: 100%;
          gap: 2px;
    
    
          .c-puzzle-tile {
            display: block;
            text-align: center;
            
            img {
                object-fit: fill;
                height: 100%;
                width: 100%;
                aspect-ratio: 1;
            }
            
            &.blank {
                background-color: transparent !important;
            }
          }
    
            &.small {
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(3, 1fr);
                height: 100%;
            }
            &.medium {
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(4, 1fr);
                height: 100%;
            }
            &.large {
                grid-template-columns: repeat(5, 1fr);
                grid-template-rows: repeat(5, 1fr);
                height: 100%;
            }
            &.huge {
                grid-template-columns: repeat(6, 1fr);
                grid-template-rows: repeat(6, 1fr);
                height: 100%;
            }
        }

    }
    .c-puzzle-actions {
        position: absolute;
        display: flex;
        align-items: center;

        @include define-simple-padding(12px, 0px);

        button {
            @include define-simple-margin(0px, 4px);
        }
    }
  }