.summary.outer-wrapper {
    background-color: white;
    height: auto;
    width: 60%;
    max-width: 720px;
    overflow: scroll;

    .summary.inner-wrapper {
        position: relative;
        margin: 0 auto;
        width: 90%;
        height: 100vh;
        
        .summary.header {
            position: sticky;
            top: 0.1px;
            display: flex;
            flex-direction: column;
            width: 100%;
            background-color: white;
            padding: 50px 0px 15px;
            z-index: 5;
            
            .summary.synopsis {
                margin: 16px 0px;
                font-weight: 300;
                text-align: justify;
            }

            .summary.heading-wrapper {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .summary.heading {
                    h2 {
                        font-size: 32px;
                    }   
                    h5 {
                        font-size: 14px;
                        font-weight: 100;
                    }
                }
            }
            .summary.exit-cross {
                position: relative;
                width: 40px;
                height: 40px;
                aspect-ratio: 1 / 1;
                
                span {
                    position: absolute;
                    top: 15%;
                    left: 45%;
                    display: block;
                    background-color: grey;
                    width: 4px;
                    height: 26px;
                    
                    &:nth-child(1) {
                        transform: rotate(45deg);
                    }
                    &:nth-child(2) {
                        transform: rotate(315deg);
                    }
                }
                
                &:hover {
                    cursor: pointer;
                    & > span {
                        background-color: orange;
                    }
                }
            }
        }
        .summary.contact-bar {
            display: flex;
            align-items: center;
            height: 70px;
            background-color: white;

            .contact-bar.inner-wrapper {
                width: 100%;

                .contact-bar.nav {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;

                    .contact-bar.nav-item {
                        position: relative;
                        display: block;
                        width: 42px;
                        height: auto;
                        aspect-ratio: 1 / 1;

                        .icon-description {
                            position: absolute;
                            left: 50%;
                            bottom: -50%;
                            display: none;
                            padding: 4px 6px;
                            color: white;
                            background-color: black;
                            border-radius: 6px;
                            font-size: 8px;
                            transform: translate(-50%, -50%);
                            z-index: 10;
                            
                        }

                        &:hover {
                            & > .icon-description {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
        .summary.body {
            display: grid;
            grid-template-columns: 35% 65%;
            
            .summary.left-column {
                height: 368px;
                padding-right: 6px;
                border-right: 2px solid grey;
                
                .column-wrapper {
                    margin-bottom: 12px;
                    
                    .column.list {
                        li {
                            margin: 10px 0px;
                            font-size: 14px;
                        }
                    }                    
                }
            }
            .summary.right-column {
                // height: 120vh;
                padding-left: 6px;
            }
        }
    }
}

.summary.outer-wrapper.open {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
}

.summary.outer-wrapper.closed {
    display: none;
}