* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Helvetica", "sans-serif";
  scrollbar-width: thin;
  scrollbar-color: transparent;
}
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid transparent;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
