// COLORS
$color-danger: hsl(0, 100%, 41%);
$color-warning: hsl(43, 100%, 52%);
$color-ok: hsl(168, 97%, 41%);
$color-message: hsl(207, 54%, 41%);

$color-light-bg: hsl(0, 0%, 95%);
$color-dark-bg: hsl(27, 100%, 2%);

$color-light-text: hsl(0, 0%, 95%);
$color-dark-text: hsl(27, 100%, 2%);

$color-orange: hsl(9, 99%, 62%);
$color-yellow: hsl(47, 96%, 66%);
$color-blue: hsl(202, 66%, 39%);
$color-black: hsl(228, 25%, 12%);

// FONTS 
