@use "../abstracts/" as abstract;
@use "../components/" as comp;

body {
  background-color: rgb(35, 35, 35);

  #app {
    position: relative;
    display: flex;
    flex-direction: row;
    
    .app-inner-wrapper {
      position: relative;
      height: 100%;
      width: 100vw;

      // .app-bootstrap {
      //   height: 100%;
      //   max-width: 95%;
      //   margin: 0 auto;
      //   border: 1px dotted red;
      // }
    }
  }
}
