// FONT SIZES:
$large-font: 1.5rem;
$medium-font: 1rem;
$small-font: 0.5rem;

// COLORS
$grey-700: hsl(0, 6%, 13%);
$grey-500: hsl(0, 1%, 23%);
$grey-300: hsl(0, 0%, 59%);
$grey-100: hsl(0, 0%, 75%);
