// FONT SIZES:
$large-font: 1.5rem;
$medium-font: 1rem;
$small-font: 0.5rem;

// COLORS
$grey-700: rgb(36, 32, 32);
$grey-500: rgb(60, 59, 59);
$grey-300: rgb(150, 150, 150);
$grey-100: rgb(190, 190, 190);
